<div class= "card border-primary mb-3 container" style="padding-top: 50PX;">
    <h3>
        POP
    </h3>
    <p>
        En un entorno informático, cuando hablamos de POP (Post Office Protocol), nos referimos a un tipo de protocolo usado para conseguir los 
        correos electrónicos guardados en un servidor remoto cuyo nombre es servidor POP. Por tanto, la mayoría de aplicaciones de correo electrónico 
        utilizan este protocolo. La versión más reciente es la POP3. Este tipo de protocolo pertenece a la capa de aplicación del modelo OSI (Open System Interconnection) 
        y da a los usuarios finales la oportunidad de buscar y recibir correo electrónico. Junto al protocolo POP3, SMTP (Protocolo Simple de Transferencia de Correo) es 
        otro de los protocolos más utilizados.
    </p>   
    
    
</div>
