<div class= "card border-primary mb-3 container" style="padding-top: 50px;">
    <h3>
        SATELITAL
    </h3>
    <p>
        En las comunicaciones por satélite, las señales directas son enviadas y recibidas en el espacio por satélites artificiales situados en órbita alrededor de la Tierra.

        Un satélite actúa como un repetidor situado en el espacio: recibe las señales enviadas desde la estación terrestre y las reemite a otro satélite o de vuelta a los 
        receptores terrestres. En realidad hay dos tipos de satélites de comunicaciones: solo que es más conocida como comunicaciones satélites.
        
        Satélites pasivos. Se limitan a reflejar la señal recibida sin llevar a cabo ninguna otra tarea.
        Satélites activos. Amplifican las señales que reciben antes de reemitirlas hacia la Tierra. Son los más habituales.[cita requerida] 
        Satélites y sus órbitas Los satélites son puestos en órbita mediante cohetes espaciales que los sitúan circundando la Tierra a distancias relativamente 
        cercanas fuera de la atmósfera.
    </p>   
    
    
</div>
