<div class= "card border-primary mb-3 container" style="padding-top: 50px;">
    <h3>
        NODO DE LA RED
    </h3>
    <p>
        La red es el punto de interconexión que conecta los distintos dispositivos de comunicación que pueden conectarse a Internet. 
        Estos dispositivos se conectan a la red a través de múltiples y diferentes enlaces de comunicación que se utilizan para intercambiar información o datos entre los dispositivos.

        El nodo es un dispositivo o aplicación que funciona como un punto de conexión para una conexión de red. Además, puede transmitir la información, recibir,
        enviar y almacenar la información dada. Los nodos se utilizan en casi todos los campos donde los dispositivos o computadoras necesitan conectarse a Internet. 
        Además, cada nodo viene con un punto final único o el punto de redistribución de la transmisión de datos. Se utiliza para reconocer el procesamiento de datos y 
        ejecutar el mismo.
    </p>   
    
    
</div>
